:root {
    --font1: 'Rubik', sans-serif;
    --font2: 'PT Sans Caption', sans-serif;
    --fs4: 6.85rem; /* 137px */
    --fs3: 4.25rem; /* 85px */
    --fs2: 2.6rem; /* 52px */
    --fs1: 1.6rem; /* 32px */
    --fs0: 1rem; /* 20px */
    --fs-1: 0.85rem; /* 17px */
    --background: #FBEDDA;
    --section-background: #F7DCBA;
    --dark: #444144;
    --light: #F0F6F9;
    --lh: #52CC93;
    --pr: #138385;
    --dh: #12754A;
    --a1: #3D315B;
    --a2: #F4AC45;
}

/* Global */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 20px;
    /* font-size: clamp(0.75rem, 0.95rem + 0.25vw, 1.25rem); */
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 1.75rem;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--light);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font1);
    font-weight: 600;
}

h1 {
    margin-top: 1.75rem;
    margin-bottom: 3.5rem;
    line-height: 7rem;
    font-size: var(--fs4);
    font-weight: 800;
  }
  
h2 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    line-height: 5.25rem;
    font-size: var(--fs3);
    font-weight: 700;
}
  
h3 {
    margin-top: 1.75rem;
    margin-bottom: 0;
    line-height: 3.5rem;
    font-size: var(--fs2);
    font-family: var(--font2);
}

h4 {
    margin-top: 3.5rem;
    margin-bottom: 0;
    line-height: 1.75rem;
    font-size: var(--fs1);
    font-family: var(--font2);
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0rem;
    margin-bottom: 1.75rem;
    font-family: var(--font2);
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

small, .text_small {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--fsmall);
    font-family: var(--font2);
}

hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {   
    bottom: -0.25em;
}

a, input, fieldset {
    border: none;
    text-decoration: none;
}

a, input, button {
    cursor: pointer;
}

.--divider {
    border-radius: 1rem;
    background-color: var(--dark);
}

.--inline-highlight {
    color: var(--accent2);
}


/* Media breakpoints */

/* Cursor */

#cursor {
    position: fixed;
    top: -10px;
    left: -10px;
    pointer-events: none;
    z-index: 100;
}







