:root {
    --font1: 'Rubik', sans-serif;
    --font2: 'PT Sans Caption', sans-serif;
    --fs4: 5.1375rem; /* 102.75px */
    --fs3: 4.40rem; /* 88px */
    --fs2: 2.72rem; /* 54px */
    --fs1: 1.6rem; /* 32px */
    --fs0: 1rem; /* 20px */
    --fs-1: 0.85rem; /* 17px */
    --background: #FBEDDA;
    --section-background: #F7DCBA;
    --dark: #444144;
    --light: #F0F6F9;
    --lh: #52CC93;
    --pr: #138385;
    --dh: #12754A;
    --a1: #3D315B;
    --a2: #F4AC45;
    --a3: #BB4430;
    --b4: 0.26rem;
    --b1: 0.1615rem;
}

/* ----------------------Global */

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 125%;
    font-size: clamp(0.75rem, 0.5308219178082192rem + 1.095890410958904vw, 1.25rem) !important;
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 1.75rem;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--dark);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font1);
    font-weight: 400;
}

h1 {
    margin-top: 1.73rem;
    margin-bottom: 2.5rem;
    line-height: 5.8rem;
    font-size: var(--fs4);
    font-weight: 700;
  }
  
h2 {
    margin-top: 1.76rem;
    margin-bottom: 1.76rem;
    line-height: 5.29rem;
    font-size: var(--fs3);
    font-weight: 500;
}
  
h3 {
    margin-top: 1.75rem;
    margin-bottom: 0;
    line-height: 3.5rem;
    font-family: var(--font2);
    font-size: var(--fs2);
    font-weight: 450;
}

h4 {
    margin-top: 3.5rem;
    margin-bottom: 0;
    line-height: 1.75rem;
    font-size: var(--fs1);
    font-family: var(--font2);
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0rem;
    margin-bottom: 1.75rem;
    font-family: var(--font2);
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

small, .text_small {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--fsmall);
    font-family: var(--font2);
}

hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}

a, b, i, strong, em, small, code {
    line-height: 0;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {   
    bottom: -0.25em;
}

a, input, fieldset {
    border: none;
    text-decoration: none;
}

a, input, button {
    cursor: pointer;
}

button {
    padding: 0;
}

main {
    position: relative;
    height: 88%;
    width: 85%;
    margin: 0 auto;
    background-color: var(--section-background);
    border: var(--b4) solid var(--dark);
}

/* ----------------------Media queries */

/* ----------------------Button animations */

.btna1 {
    position: relative;
    border: none;
    color: var(--light);
    font-size: var(--fs0);
    z-index: 1;
}

.button-wrap.a1::after {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    transform-origin: top left;
    transform: translate(-3.47%, 11.25%);
    transition: all 250ms;
}

.btna1:hover {
    border: var(--b1) solid var(--a3);
    background-color: var(--section-background);
    color: var(--dh);
}

.button-wrap.a1:hover::after {
    transform: translate(3.47%, -11.25%);
}

/* ----------------------Cursor */

#cursor {
    position: fixed;
    top: -10px;
    left: -10px;
    pointer-events: none;
    z-index: 100;
}

/* ----------------------Global elements */

.inline-highlight1 {
    text-decoration-line: underline;
    text-decoration-thickness: var(--b4);
    text-decoration-color: var(--a2);
}

.inline-highlight2 {
    text-decoration-line: underline;
    text-underline-offset: 25%;
    text-decoration-thickness: var(--b4);
    text-decoration-color: var(--a3);
}

.subheading-line {
    display: inline-block;
    height: 0.15rem;
    width: 4rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    background-color: var(--a3);
}

section.section-block {
    width: 100%;
}

.section-main {
    display: grid;
    height: 100%;
}

.button-wrap {
    position: relative;
    display: inline-block;
    z-index: 1;
}

/* ----------------------Sticky elements */

.pagination {
    position: fixed;
    top: 16.95vh;
    left: 2.94vw;
    z-index: 100;
}

.pagination-button {
    cursor: pointer;
}

.sticky-contact {
    position: fixed;
    top: 45vh;
    right: 0;
    cursor: pointer;
    z-index: 50;
}

/* ----------------------Section - Hero */

section.hero {
    height: 100vh;
    width: 100%;
}

main.hero-main {
    position: relative;
    display: grid;
    grid-template-rows: 11.45% 1fr;
    grid-template-columns: 2fr 1.75fr;
    height: 88%;
    width: 85%;
    margin: 6vh auto;
    background-color: var(--section-background);
    border: var(--b4) solid var(--dark);
}

.hero-main img {
    position: absolute;
    top: 2.64%;
    left: 1.64% 
}

.hero-main nav {
    display: flex;
    grid-area: 1 / 1;
    padding: 0 20.87%;
}

.hero-nav .hero-nav-link-list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.hero-nav-link-list li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 19%;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
}

.nav-link-hover-container {
    position: absolute;
    top: -100%;
    width: 100%;
    transition: top 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}

.hero-nav-link-list li:hover .nav-link-hover-container {
    top: -2%;
}

.nav-link-hover-container[class~="active"] + a[class~="nav-link"] {
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: var(--b4);
    text-decoration-color: var(--a2);
}

.nav-link {
    margin-top: 1rem;
    color: var(--dark);
}

.hero-left {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5% 5%;
    grid-area: 2 / 1;
}

.content-wrap-hero {
    position: relative;
    top: 4.78%;
    left: 11.43%;
    max-width: 65.38%;
    z-index: 1;
}

.content-wrap-hero::after {
    position: absolute;
    content: "";
    top: -5%;
    left: -10%;
    height: 115%;
    width: 115%;
    border-radius: 1rem;
    background-color: var(--background);
    z-index: -1;
}


.content-wrap-hero::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 112%;
    width: 112%;
    border-radius: 1rem;
    background-color: var(--dark);
    z-index: -1;
}

.content-wrap-hero h1 {
    margin-top: 0;
    color: var(--a3);
}

.content-wrap-hero p {
    font-size: 1.2rem;
}

.contact {
    width: 8.7rem;
    height: 2.6rem;
    background-color: var(--a3);
    border-radius: 5%;
    color: var(--light);
    z-index: 1;
}

.contact:hover {
    color: var(--a3);
}

.hero-content-background {
    position: absolute;
    top: -2%;
    left: 2%;
    transform: 
        scaleY(1.2)
        scale(0.85);
    transform-origin: top left;
}

section.hero-right {
    position: relative;
    grid-area: span 2 / 2;
}

.social-link.GitHub {
    align-self: flex-start;
    background-color: var(--pr);
}

.social-link.LinkedIn {
    align-self: center;
    background-color: var(--lh);
}

.social-link.Instagram {
    align-self: flex-end;
    background-color: var(--a1);
}

.fa-brands {
    font-size: var(--fs3);
    color: var(--light);
}

.hero-right-SVG {
    position: absolute;
    right: calc(-1 * var(--b4));
    top: calc(-1 * var(--b4));
    height: calc(100% + var(--b4) * 2);
    width: calc(100% + var(--b4));
}

#hero_right_SVG {
    height: 100%;
    width: 100%;
}

/* ----------------------Section - Skills */

section.skills {
    width: 100%;
}

.skills-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 53.87% 1fr;
}

.skills-top {
    position: relative;
    padding: 2% 6.25%;
    grid-area: 1 / 1;
}

.content-wrap-skills {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
}

.content-wrap-skills::before {
    position: absolute;
    content: "";
    top: -5%;
    left: -5%;
    height: 115%;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--background);
    z-index: -1;
}

.content-wrap-skills::after {
    position: absolute;
    content: "";
    top: 5%;
    left: -6%;
    height: 110%;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--dark);
    z-index: -2;
}

.skills-h2 {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 0;
    color: var(--a3);
    line-height: 3.5rem;
    font-size: var(--fs1);
    font-family: var(--font2);
    order: 1;
}

.skills-h3 {
    display: inline-block;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 1.76rem;
    order: 2;
    font-family: var(--font1);
    line-height: 5.29rem;
    font-size: var(--fs3);
    font-weight: 500;
}

.skills-content {
    order: 3;
    width: fit-content;
    max-width: 40%;
}

.skills-top-SVG {
    position: absolute;
    width: 24%;
    right: calc(-1 * var(--b4) + 2rem);
    top: calc(-1 * var(--b4));
    z-index: 2;
}

.skills-bottom {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5%;
    z-index: 2;
}

.skills-container {
    display: flex;
    width: 72%;
    padding-bottom: 10%;
    align-items: center;
    column-gap: 7%;
    perspective: 2000px;
}

.skill {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    transition: transform 250ms ease-in-out;
    cursor: pointer;
}

.skill::before {
    position: absolute;
    content: "";
    height: 74.8%;
    width: 76.25%;
    bottom: 0;
    left: -2.75%;
    background-color: transparent;
    border: var(--b1) solid var(--dark);
    border-top-style: hidden;
    border-right-style: hidden;
}

.skill:hover {
    transform: translateZ(50px);
}

.skill-inner-SVG {
    height: 100%;
    width: 100%;
}

.skill-bottom {
    position: absolute;
    height: 8.49vw;
    width: clamp(10.57vw, 61.94%, 10.57vw);
    bottom: -4.11vw;
    left: 6.45%;
    border: var(--b1) solid var(--dark);
    background-color: var(--background);
}

.skill-triangle {
    position: absolute;
    box-sizing: border-box;
}

.skill-tbr {
    right: -15%;
    bottom: -15%;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.skill:hover .skill-tbr {
    right: 0;
    bottom: 2.50%;
    opacity: 100%;
}

.skill-ttl {
    top: -15%;
    left: -15%;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.skill:hover .skill-ttl {
    top: 0;
    left: 0;
    opacity: 100%;;
}

/* ----------------------Section - About me */

.about-me {
    height: 100vh;
    width: 100%;
}

main.about-me-main {
    height: 100vh;
    background-color: var(--dark);
}

