:root {
    --font1: 'Oswald', sans-serif;
    --font2: 'Martel', serif;
    --f1: 6.854rem;
    --f2: 4.236rem;
    --f3: 2.618rem;
    --f4: 1.618rem;
    --fbase: 1rem;
    --fsmall: 0.618rem;
    --dark: #444144;
    --light: #F0F6F9;
    --primary: #93B4AB;
    --accent1: #788BFF;
    --accent2: #E27E72;
    --altAccent1: #2EF0F0;
    --altAccent2: #C995DB;
}

/* Global */

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--light);
    overflow-x: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 4.209rem;
    font-family: var(--font1);
    line-height: 1.2;
  }
  
h2 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 3.157rem;
    font-family: var(--font1);
}
  
h3 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 2.369rem;
    font-family: var(--font1);
}
  
h4 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 1.777rem;
    font-family: var(--font1);
}
  
p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-family: var(--font2);
}
  
small, .text_small {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 0.75rem;
    font-family: var(--font2);
}

a {
    text-decoration: none;
}

input {
    border: none;
}

fieldset {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

/* Nav */

nav.--main-nav {
    position: absolute;
    top: 10%;
    right: 0;
    height: 51%;
    width: 5%;
    background-color: var(--light);
}

/* Search and share */

.--search-share {
    position: absolute;
    right: 0;
    top: 0;
    height: 10%;
    width: 15%;
    background-color: var(--accent2);
}

/* Hero */

section.--hero {
    display: grid;
    grid-template-columns: 5% 55% 35% 5%;
    grid-template-rows: 10% 51% 15% 24%;
    height: 100vh;
    width: 100%;
}

.--hero .--logo-area-top {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: var(--dark);
}

.--hero .--logo-area-top-right {
    grid-column: 3 / span 2;
    grid-row: 1;
    background-color: var(--light);
}

.--hero .--logo-area-right {
    grid-column: 4;
    grid-row: 1 / span 4;
}

.--hero .--logo-area-left {
    grid-column: 1;
    grid-row: 1 / span 4;
    background-color: var(--dark);
}

.--hero .--content {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.--hero .--image {
    grid-column: 3;
    grid-row: 2;
}

.--hero .--content-aside {
    position: absolute;
    bottom: -11%;
    left: 0;
    height: 50%;
    width: 40%;
    background-color: var(--accent1);
}