:root {
    --font1: 'Rubik', sans-serif;
    --font2: 'PT Sans Caption', sans-serif;
    --f1: 6.854rem; /* 109.66px */
    --f2: 4.236rem; /* 67.77px */
    --f3: 2.618rem; /* 41.89px */
    --f4: 1.618rem; /* 25.89px */
    --fbase: 1.25rem; /* 20.00px */
    --fsmall: 0.618rem; /* 12.25px */
    --background: #FBEDDA;
    --dark: #444144;
    --light: #F7FAF9;
    --accent1: #76AFB5;
    --accent2: #6B9080;
    --accent3: #6873BA;
    --accent4: #3A5683;
    --accent5: #E27E72;
    --accent6: #E5625E;
    --accent7: #2EF0F0;
    --accent8: #C995DB;
}

/* Global */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: clamp(1.25em, .4167vw + .8875em, 1.125em);
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 1.75;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--light);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font1);
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f1);
    font-weight: 600;
  }
  
h2 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f2);
}
  
h3 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f3);
}

h4 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--f4);
}
  
p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-family: var(--font2);
}
  
small, .text_small {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: var(--fsmall);
    font-family: var(--font2);
}

a {
    text-decoration: none;
}

input {
    border: none;
}

fieldset {
    border: none;
}

button {
    border: none;
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
}

.--divider {
    border-radius: 1rem;
    background-color: var(--dark);
}

.--inline-highlight {
    color: var(--accent2);
}


/* Animation objects */


/* Hero */

section.--hero {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* Hero nav */

nav {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
}

nav .--nav-link {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 5.625vw;
    flex: 1 1 auto;
    border: 5px solid var(--dark);
    box-sizing: content-box;
}

nav .--nav-link:hover {
    /* flex: 2 1 auto; */
}

.--nav-link p {
    width: 1px;
    color: var(--light);
    font-family: var(--font1);
    font-size: var(--f4);
    text-align: end;
    line-height: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

nav .--about {
    background-color: var(--accent4);
    border-right-width: 2.5px;
}

nav .--work {
    background-color: var(--accent6);
    border-width: 5px 2.5px;
}

nav .--home {
    background-color: var(--accent2);
    border-left-width: 2.5px;
}

/* Hero main */

main.--hero-main {
    position: relative;
    height: 100%;
    width: 100%;
}

.--hero-main section {
    float: left;
}

.--hero-main .--right {
    height: 100%;
    width: 40.21%;
    background-color: var(--dark);
}

.--hero-main .--left {
    height: 100%;
    width: 59.79%;
}

.--left .--tagline {
    position: absolute;
    display: flex;
}

/* <--/--> */

